.display-vertical {
    flex-direction: column;
}
#container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrapper {
    height: 100%;
}

.flex-col {
    display: flex;
}

.styled-card {
    flex: 1;
    margin: 10px 0px;
    border-radius: 15px;
}

#weather-card {
    height: 235px;
    background-color: #f0f0f0;
    border: 2px solid #e1e1e1;
    .card-body {
        padding: 15% 10%;
        flex: 1;
    }
}

#poke-name {
    text-transform: capitalize;
}

#search-card {
    margin-top: -85px;
}

.pokemon-card {
    .media {
        min-height: 280px;
        #poke-img {
            margin-top: -90px;
        }
        #effect {
            position: absolute;
            mix-blend-mode: multiply;
            filter: saturate(0);
            opacity: 0.1;
        }
    }
    div {
        margin-top: -15px;
    }
}

#fire {
    background-color: #ff7979;
    border: 2px solid #f86b6b;
}

#water,
#ice {
    background-color: #dff9fb;
    border: 2px solid #c7ecee;
    color: #79d5d8;
}

#electric {
    background-color: #f6e58d;
    border: 2px solid #f2d95f;
}

#grass {
    background-color: #badc58;
    border: 1px solid #a9d22d;
}

#ground {
    background-color: #dac38b;
    border: 1px solid #ccae62;
}

#bug {
    background-color: #b881ef;
    border: 1px solid #a55eea;
}

#rock {
    background-color: #f0f0f0;
    border: 2px solid #e1e1e1;
}

@media (max-width: 768px) {
    #content-pw {
        width: 80vw;
        height: 85vh;
    }

    .flex-col {
        flex: 1;
    }

    #weather-card {
        height: 75%;
        .card-body {
            padding: 10% 5% 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    #top-row {
        flex-direction: column !important;
    }

    #search-card {
        margin: -5px 0 15px;
        padding: 15px;
        button {
            padding: 10px;
        }
    }

    .styled-card {
        margin: 0;
    }

    .pokemon-card {
        margin: 30px 0;
        .media {
            #poke-img {
                margin-top: -105px;
            }
        }
    }
}
