.display-vertical {
    flex-direction: column;
}

#container {
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100vw;
}

#content-pw {
    max-width: 80%;
}

.wrapper {
    height: 100%;
}

.flex-col {
    display: flex;
}

.styled-card {
    flex: 1;
    margin: 10px 0px;
    border-radius: 15px;
}

#weather-card {
    height: 60%;
    background-color: #f0f0f0;
    border: 2px solid #e1e1e1;
    .card-body {
        flex: 1;
        padding: 0% 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

#poke-name {
    text-transform: capitalize;
}

#search-card {
    margin-top: -85px;
}

.pokemon-card {
    .media {
        min-height: 280px;
        img {
            flex: none;
        }
        #poke-img {
            margin-top: -90px;
            z-index: 2;
        }
        #effect {
            position: absolute;
            mix-blend-mode: multiply;
            filter: saturate(0);
            opacity: 0.1;
            z-index: 1;
        }
    }
    div#description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        span#type-icon {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
            background-color: #fff;
            position: absolute;
            border-radius: 50%;
            padding: 10px 13px;
            margin-top: 40px;
            flex: none;
        }
    }
}

#fire {
    background-color: #ff7979;
    border: 2px solid #f86b6b;
}

#water,
#ice {
    background-color: #dff9fb;
    border: 2px solid #c7ecee;
    color: #79d5d8;
    span#type-icon {
        border: 1px solid #c7ecee;
    }
}

#electric {
    background-color: #f1c40f;
    border: 2px solid #ecc00e;
    span#type-icon {
        color: #ecc00e;
        border: 1px solid #ecc00e;
    }
}

#grass {
    background-color: #badc58;
    border: 2px solid #a9d22d;
    span#type-icon {
        color: #a9d22d;
        border: 1px solid #a9d22d;
    }
}

#ground {
    background-color: #dac38b;
    border: 2px solid #ccae62;
    span#type-icon {
        color: #ccae62;
        border: 1px solid #ccae62;
    }
}

#bug {
    background-color: #8d65b5;
    border: 2px solid #a55eea;
    span#type-icon {
        color: #a55eea;
        border: 1px solid #a55eea;
    }
}

#rock {
    background-color: #cacaca;
    border: 2px solid #b9b9b9;
    span#type-icon {
        border: 1px solid #b9b9b9;
    }
}

@media (max-width: 1280px) {
    .pokemon-card .media img {
        flex: none;
    }
}

@media (max-width: 768px) {
    #content-pw {
        width: 80vw;
        height: 85vh;
    }

    .flex-col {
        flex: 1;
    }

    #weather-card {
        height: 75%;
        .card-body {
            padding: 10% 5% 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    #top-row {
        flex-direction: column !important;
    }

    #search-card {
        margin: -5px 0 15px;
        padding: 15px;
        button {
            padding: 10px;
        }
    }

    .styled-card {
        margin: 0;
    }

    .pokemon-card {
        margin: 30px 0;
        .media {
            #poke-img {
                margin-top: -105px;
            }
        }
    }
}
